.three-column {
  column-count: 3;
  column-gap: 30px;
  column-width: 200px;
}

.table-html {
  width: 100%;
  border-collapse: collapse;
}
.table-html td,
.table-html th {
  border: 1px solid #650bd2;
  text-align: center;
}

input {
  box-sizing: border-box;
}
#kontak {
  width: 600px;
  border: 1px solid grey;
  padding: 50px;
  margin-top: 80px;
  margin: 0 auto;
}
.form-style {
  width: 100%;
  padding: 10px;
}
